<p id="notice"><%= notice %></p>
<%= bootstrap_form_tag(url:"/domains") do |f| %>
  	<%= f.text_field :domain_name , required:'required' %>
  	<%= f.text_field :name , required:'required', name:'config[name]' %>
	<%= f.url_field :media_host,value: "http://media.fllcasts.com",name: "config[media_host_url]" %>
	<%= f.select :domain , [['.grizismu.net']] %>
  	<%= f.submit "Create" , disabled:'disabled' %>
<% end %>
